TestDotNetApp.API/bin/Debug/netcoreapp3.0/appsettings.json
TestDotNetApp.API/bin/Debug/netcoreapp3.0/TestDotNetApp.API.deps.json
TestDotNetApp.API/bin/Debug/netcoreapp3.0/TestDotNetApp.API.dll
TestDotNetApp.API/bin/Debug/netcoreapp3.0/TestDotNetApp.API.pdb
