<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <form [formGroup]="createCarmodelForm" (ngSubmit)="createNewCarmodel()"> 
        <h2 class="text-center text-primary">New Model</h2>
        <hr>
        
        <!-- Maker -->
        <div class="form-group">
          <input type="text" 
            [ngClass]="{'is-invalid': createCarmodelForm.get('maker').errors 
              && createCarmodelForm.get('maker').touched}"
            class="form-control" 
            formControlName="maker"
            placeholder="Maker">
          <div class="invalid-feedback" *ngIf="createCarmodelForm.get('maker').touched 
            && createCarmodelForm.get('maker').hasError('required')">Please enter a maker</div>
        </div>

        <!-- ModelName -->
        <div class="form-group">
          <input type="text" 
            [ngClass]="{'is-invalid': createCarmodelForm.get('modelName').errors 
              && createCarmodelForm.get('modelName').touched}"
            class="form-control" 
            formControlName="modelName"
            placeholder="Model">
          <div class="invalid-feedback" *ngIf="createCarmodelForm.get('modelName').touched 
            && createCarmodelForm.get('modelName').hasError('required')">Please enter a model</div>
        </div>
        
        <!-- LevelName -->
        <div class="form-group">
          <input type="text" 
            [ngClass]="{'is-invalid': createCarmodelForm.get('levelName').errors 
              && createCarmodelForm.get('levelName').touched}"
            class="form-control" 
            formControlName="levelName"
            placeholder="Level">
          <div class="invalid-feedback" *ngIf="createCarmodelForm.get('levelName').touched 
            && createCarmodelForm.get('levelName').hasError('required')">Please enter a level</div>
        </div>

        <!-- Energy Form -->
        <div class="form-group">
          <input type="text" 
            [ngClass]="{'is-invalid': createCarmodelForm.get('energyForm').errors 
              && createCarmodelForm.get('energyForm').touched}"
            class="form-control" 
            formControlName="energyForm"
            placeholder="Energy Form">
          <div class="invalid-feedback" *ngIf="createCarmodelForm.get('energyForm').touched 
            && createCarmodelForm.get('energyForm').hasError('required')">Please enter a energy form</div>
        </div>
        
        <!-- Published Date -->
        <div class="form-group">
          <input [ngClass]="{'is-invalid': createCarmodelForm.get('dayOfPublish').errors && createCarmodelForm.get('dayOfPublish').touched}" class="form-control"
            placeholder="Date of Publish" formControlName="dayOfPublish" type="text" bsDatepicker [bsConfig]="bsConfig">
          <div class="invalid-feedback" *ngIf="createCarmodelForm.get('dayOfPublish').touched 
            && createCarmodelForm.get('dayOfPublish').hasError('required')">Date of Published is required</div>
        </div>

               
        <!-- Length -->
        <div class="form-group">
          <input type="number" 
            [ngClass]="{'is-invalid': createCarmodelForm.get('length').errors 
              && createCarmodelForm.get('length').touched}"
            class="form-control" 
            formControlName="length"
            placeholder="Car Length(mm)">
          <div class="invalid-feedback" *ngIf="createCarmodelForm.get('length').touched 
            && createCarmodelForm.get('length').hasError('required')">Please enter the car length</div>
        </div>

        <!-- Width -->
        <div class="form-group">
          <input type="number" 
            [ngClass]="{'is-invalid': createCarmodelForm.get('width').errors 
              && createCarmodelForm.get('width').touched}"
            class="form-control" 
            formControlName="width"
            placeholder="Car Width(mm)">
          <div class="invalid-feedback" *ngIf="createCarmodelForm.get('width').touched 
            && createCarmodelForm.get('width').hasError('required')">Please enter the car width</div>
        </div>

        <!-- Height -->
        <div class="form-group">
          <input type="number" 
            [ngClass]="{'is-invalid': createCarmodelForm.get('height').errors 
              && createCarmodelForm.get('height').touched}"
            class="form-control" 
            formControlName="height"
            placeholder="Car Height(mm)">
          <div class="invalid-feedback" *ngIf="createCarmodelForm.get('height').touched 
            && createCarmodelForm.get('height').hasError('required')">Please enter the car height</div>
        </div>

        <!-- Price -->
        <div class="form-group">
          <input type="number" 
            [ngClass]="{'is-invalid': createCarmodelForm.get('price').errors 
              && createCarmodelForm.get('price').touched}"
            class="form-control" 
            formControlName="price"
            placeholder="Price(NTD)(w)">
          <div class="invalid-feedback" *ngIf="createCarmodelForm.get('price').touched 
            && createCarmodelForm.get('price').hasError('required')">Please enter the price</div>
        </div>

        <!-- Horse Power -->
        <div class="form-group">
          <input type="number" 
            [ngClass]="{'is-invalid': createCarmodelForm.get('horsePower').errors 
              && createCarmodelForm.get('horsePower').touched}"
            class="form-control" 
            formControlName="horsePower"
            placeholder="Horse Power">
          <div class="invalid-feedback" *ngIf="createCarmodelForm.get('horsePower').touched 
            && createCarmodelForm.get('horsePower').hasError('required')">Please enter the horsePower</div>
        </div>

        <!-- Airbags Number -->
        <div class="form-group">
          <input type="number" 
            [ngClass]="{'is-invalid': createCarmodelForm.get('airbagsNumber').errors 
              && createCarmodelForm.get('airbagsNumber').touched}"
            class="form-control" 
            formControlName="airbagsNumber"
            placeholder="Airbags Number">
          <div class="invalid-feedback" *ngIf="createCarmodelForm.get('airbagsNumber').touched 
            && createCarmodelForm.get('airbagsNumber').hasError('required')">Please enter the airbags number</div>
        </div>

        <!-- Boot Capacity -->
        <div class="form-group">
          <input type="number" 
            [ngClass]="{'is-invalid': createCarmodelForm.get('bootCapacity').errors 
              && createCarmodelForm.get('bootCapacity').touched}"
            class="form-control" 
            formControlName="bootCapacity"
            placeholder="Boot Capacity">
          <div class="invalid-feedback" *ngIf="createCarmodelForm.get('bootCapacity').touched 
            && createCarmodelForm.get('bootCapacity').hasError('required')">Please enter the boot capacity</div>
        </div>

        <!-- Size And Type -->
        <div class="form-group">
          <input type="text" 
            [ngClass]="{'is-invalid': createCarmodelForm.get('sizeAndType').errors 
              && createCarmodelForm.get('sizeAndType').touched}"
            class="form-control" 
            formControlName="sizeAndType"
            placeholder="Type">
          <div class="invalid-feedback" *ngIf="createCarmodelForm.get('sizeAndType').touched
            && createCarmodelForm.get('sizeAndType').hasError('required')">Please enter the type</div>
        </div>

        <!-- Fuel Consumption -->
        <div class="form-group">
          <input type="number" 
            [ngClass]="{'is-invalid': createCarmodelForm.get('fuelConsumption').errors 
              && createCarmodelForm.get('fuelConsumption').touched}"
            class="form-control" 
            formControlName="fuelConsumption"
            placeholder="Fuel Consumption">
          <div class="invalid-feedback" *ngIf="createCarmodelForm.get('fuelConsumption').touched 
            && createCarmodelForm.get('fuelConsumption').hasError('required')">Please enter the fuel consumption</div>
        </div>


        <div class="form-group text-center">
          <button class="btn btn-success" [disabled]="!createCarmodelForm.valid" type="submit">Create</button>
          <button class="btn btn-default" type="submit" [routerLink]="['/cars/']" (click)="cancel()">Cancel</button>
        </div>
      
      </form>

      <p>Form value: {{createCarmodelForm.value | json}}</p>
      <p>Form Status: {{createCarmodelForm.status | json}}</p>
    </div>
  </div>
</div>

