<!-- <p>
  {{carmodel?.modelName}}
</p> -->

<div class="container mt-4">
  <div class="class">
    <h1>{{carmodel.modelName}}'s Profile</h1>
  </div>

  <div class="row">
    <!-- left hand side -->
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{carmodel.photoUrl || '../../../../../assets/original.png' }}" alt="{{carmodel.modelName}}">
        <div class="card-body">
          <div>
            <strong>Model:</strong>
            <p>{{carmodel.maker}}, {{carmodel.modelName}} {{carmodel.levelName}}</p>
          </div>
          <div>
            <strong>Last Edited Date:</strong>
            <p>{{carmodel.lastEditedDate | timeAgo}}</p>
          </div>
          <div>
            <strong>Published Date:</strong>
            <p>{{carmodel.dayOfPublish | date: 'mediumDate'}}</p>
            <!-- <p>{{carmodel.dayOfPublish | date: 'medium'}}</p> -->
          </div>
          <div>
            <strong>Energy Info:</strong>
            <p>{{carmodel.energyForm}}, {{carmodel.fuelConsumption}}km/l</p>
          </div>
          <div>
            <strong>Price:</strong>
            <p>{{carmodel?.price}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Like</button>
            <button class="btn btn-success w-100">Message</button>
            <button class="btn btn-success w-100" [routerLink]="['/cars/edit', carmodel.id]">Edit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- right hand side -->
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="car-tabset">
          <tab heading="About {{carmodel.modelName}}">
            <h4>Description</h4>
            <p>{{carmodel.introduction}}</p>
            <h4>Maker</h4>
            <p>{{carmodel.maker}}</p>
            <h4>Level Name</h4>
            <p>{{carmodel.levelName}}</p>
          </tab>
          
          <tab heading="Size Information">
            <h4>Length</h4>
            <p>{{carmodel.length}}</p>
            <h4>Width</h4>
            <p>{{carmodel.width}}</p>
            <h4>Height</h4>
            <p>{{carmodel.height}}</p>
            <h4>Boot Capacity</h4>
            <p>{{carmodel.bootCapacity}}</p>
            <h4>Size and Type</h4>
            <p>{{carmodel.sizeAndType}}</p>
          </tab>

          <tab heading="Photos">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>
          
          <tab heading="Message">
            <p>Message will go here</p>
          </tab>
        </tabset>
      </div>
    </div>

    <!-- i
    horsePower: number;
    airbagsNumber: number;-->

  </div>
</div>