<!-- <p>
  car-list works!
</p> -->
<div class="text-center mt-5">
  <button class="btn btn-primary btn-lg mr-2" [routerLink]="['/cars/', 'add']"> Add new model</button>
</div>

<div class="container mt-5">
  <div class="row">
    <div *ngFor="let carmodel of carmodels" class="col-lg-2 col-md-3 col-sm-6">
      <!-- <p *ngFor="let carmodel of carmodels">{{carmodel.modelName}}</p> -->
      <app-car-card [carmodel]="carmodel"></app-car-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>
